.nav{
    background: rgb(137, 30, 185);
    background: linear-gradient(
    90deg,
    rgba(137, 30, 185, 1) 0%,
    rgba(223, 44, 86, 1) 100%
  );
}
.outer{
    height: 100vh;
}
.content{
    width: 100vw;
}
* {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li:active {
    border-top: 1px pink solid;
    border-bottom: 1px pink solid;
}

.calendar-container {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
 
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
 
header .calendar-navigation {
    display: flex;
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    background: #f2f2f2;
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    padding: 20px;
}
 
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color: #aaa;
}
 
.calendar-dates li.active {
    color: #fff;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
    background: #6332c5;
}
 
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgba(0, 0, 0, 0.132);*/
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 30%;
    min-height: 40%;
  }
  
.task-heading-add, .goal-heading-add{
    background-color: #6332c5;
    color: white;
    padding: 10px;
    height: 50px;
    border-radius: 8px 8px 0 0;
}

.task-heading-add p , .goal-heading-add p{
    font-size: medium;
}

  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.tasks-and-goals {
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 20px;
    box-sizing: border-box;
}

.add-task-btn{
    text-align: center;
}

.add-task{
    background-color: #cd006f;
    border: #aeabab;
}

.task-content , .goal-content{
    padding: 5%;
}

#task-submit , #goal-submit{
    background-color: rgb(137, 30, 185);
    border: 1px solid rgba(223, 44, 86, 1);
    color: white;
    border-radius: 10px;
}

#division {
    margin-top: 10%;
    height: 1%;
    background: rgb(137, 30, 185);
    background: linear-gradient(
    90deg,
    rgba(137, 30, 185, 1) 0%,
    rgba(223, 44, 86, 1) 100%
  );
}

.weekly-goal {
    margin-top: auto;
    bottom: 0;
}

.add-goal {
    background-color:#6332c5;
    border: #aeabab;
}

.goals {
    display: block;
}

.div-subtask {
    display: none;
}

.add-subtask {
    border:1px solid #6332c5;
    border-radius: 50%;
    color: #ffffff;
    background-color: #6332c5;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}